@import 'tailwindcss';
@font-face {font-family: 'Inter-Regular'; src: url('./fonts/Inter-Regular.ttf') format('truetype'); font-weight: 100 900; font-style: normal;}
@font-face {font-family: 'Inter-Italic'; src: url('./fonts/Inter-Italic.ttf') format('truetype'); font-weight: 100 900; font-style: italic;}

/* -------- DARK THEME -------- */
:root {
	--background-color: #0F0F0F;
	--dock-bg: #1a1a1a99;
	--dock-border: #2A2A2A;
	--dock-shadow: #00000066;
	--dock-inner-shadow: #FFFFFF1A;
	--item-bg: #1a1a1a;
	--icon-color: #CCCCCC;
	--tooltip-bg: #0e0e0e9a;
	--tooltip-text: #ffffff;
	--text-primary: #FFFFFF;
	--text-secondary: #CCCCCC;
	--white-to-black: #000000;
	--black-to-white: #ffffff;
}

/* -------- LIGHT THEME (DEFAULT) -------- 
[data-theme='light'] {
	--background-color: #FFFFFF;
	--background-hover-color: #dfdfdf;
	--dock-bg: #F9FBFA;
	--dock-border: #FFFFFFA6;
	--dock-shadow: #0000001A;
	--dock-inner-shadow: #FFFFFF80;
	--item-bg: #E4E7E6;
	--icon-color: #555555;
	--tooltip-bg: #282828e6;
	--tooltip-text: #ffffff;
	--text-primary: #1C1C1C;
	--text-secondary: #555555;
	--white-to-black: #ffffff;
	--black-to-white: #000000;
}*/

html, body, *, *::before, *::after {cursor: url('./assets/arrowhead-rounded-outline.svg'), auto; scrollbar-width: none;}
body {background: var(--background-color); color: #ffffff; font-family: 'Inter-Regular'; font-weight: 400;}
img {-webkit-user-drag: none; user-select: none;}
a {text-decoration: none; -webkit-user-drag: none;}
::selection {background: #ffd60a; color: #000000;}
::-moz-selection {background: #ffd60a; color: #000000;}